pydantic-settings
psycopg[binary]
sqlalchemy
flask-sqlalchemy
flask-migrate
alembic
pgvector
pytest
pytest-cov
cohere
pymupdf
numpy
groq
google-genai
Flask
PyJWT
pwdlib[argon2]
email-validator
asyncpg
langgraph
